.planItem-skb{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 25px;
 
    justify-content: center;
    width: 85%;
    margin: 10px auto 10px 40px;
    background-color: #ffffff;
    margin: 10 0 17px 0;
    border-radius: 5px;
    box-shadow: 0px 6px 16px #3469cb29;
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    color: #253858CC;
}

.planItem-skb >div{
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  flex: 1;
  height: 46px;
   
}

