
.nav-skb{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #253858CC; */
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px 30px;
    
    
}

.nav-skb h4{
    margin: 0px;
    font-weight: 300;
}

.nav-skb_child {
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 10px;
    font-weight: 200;
}

.nav-skb_child1 {
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 10px;
    font-weight: 200;
    border:0.1px solid rgb(207, 204, 204);
    border-radius: 5px;
}

.nav-skb_child >div{
    border:0.1px solid rgb(207, 204, 204);
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
 

}

.nav-skb_child1>a{
    /* border: 0.1px solid #253858CC; */
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    width: 250px;
  
    text-decoration: none;
  
}

.nav-skb_child1>a:nth-child(1)
{
    border-right: none;
}

.nav-skb_child1>a:nth-child(2)
{
    border-left: none;
}



.nav-skb_child1>a:focus{
    background-color: white;
    color: #0065FF;
    cursor: pointer;
    box-shadow: 0px 6px 16px #3469cb29;
    scale: 1.5px;
    
}




.nav-skb_child select{
    outline: none;
    border: none;
    color: #253858CC;
}
